.videoFooter {
  position: relative;
  margin-left: 20px;
  bottom: 100px;
}

.videoFooter__text {
  position: absolute;
  bottom: 0;
  color: white;
  display: flex;
  margin-bottom: 20px;
}

.videoFooter__text > h3 {
  margin-left: 10px;
  padding-bottom: 20px;
}

.videoFooter__text > h3 > button {
  color: white;
  font-weight: 900;
  text-transform: inherit;
}

.videoFooter__ticker > .ticker {
  width: 60%;
  margin-left: 30px;
  margin-bottom: 20px;
  height: fit-content;
}

.videoFooter__icon {
  position: absolute;
  left: 5px;
  color: white;
}

.videoFooter__ticker h1 {
  padding-top: 7px;
  font-size: 17px;
  color: white;
}

.videoFooter__actions {
  display: flex;
  position: absolute;
  width: 95%;
  justify-content: space-between;
  color: white;
}

.videoFooter__left > .MuiSvgIcon-root {
  padding: 0 10px;
}

.videoFooter__right {
  display: flex;
}

.videoFooter__stat {
  display: flex;
  align-items: center;
  margin-right: 10px;
}

.videoFooter__stat > p {
  margin-left: 3px;
}
